body {
	font-family: Arial, sans-serif;
	padding: 0;
	margin: 0;
	color: #222222;
}

.clearfix:after {
	content:'';
	display: table;
	width: 100%;
	clear: both;
}

div {
	box-sizing: border-box;
}

header {
	background: url(../img/first-bg.jpg) no-repeat center top / cover;
	
	height: 100vh;
}

.email-cocial-wrap {
  float: right;
}
  .email-cocial-wrap a {
  margin-left: 7px;
   padding-right: 20px;
}
.header__contacts:after{
  content: "";
  clear: both;
  display: block;
  float: center;
}
.header__phone,
.header__email{
  color: #cbcacb;
  letter-spacing: 0.25px;
  line-height: 45px;
  position: relative;
}
.header__phone{
  padding-left: 20px;
  padding-right: 200px;
}
.header__phone:before{
  content: "\f095";
  font-family: 'icomoon';
  position: absolute;
  left: 0;
  color: #ffc222;
}
.header__email{
  padding-left: 24px;
}
.header__email:before{
  content: "\f003";
  font-family: 'icomoon';
  position: absolute;
  left: 0;
  color: #ffc222;
}
#menu__toggle {
  opacity: 0;
}

#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 80%;
}

.menu__btn {
  display: flex;
  align items: center;
  position: fixed;
  top: 20px;
  right: 20px;

  width: 26px;
  height: 26px;

  cursor: pointer;
  z-index: 1;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;

  width: 100%;
  height: 2px;

  background-color: #616161;

  transition-duration: .25s;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}

.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;

  width: 300px;
  height: 100%;

  margin: 0;
  padding: 80px 0;

  list-style: none;

  background-color: #ECEFF1;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);

  transition-duration: .25s;
}

.menu__item {
  display: block;
  padding: 12px 24px;

  color: #333;

  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;

  text-decoration: none;

  transition-duration: .25s;
}
.menu__item:hover {
  background-color: #CFD8DC;
}

.container {
	width: 930px;
	margin: 0 auto;
}

.logo {
	margin-top: 41px;
	float: left;
}

nav {
	float: right;
	margin-top: 45px;
}

.menu {
	padding: 0;
	margin: 0;
	display: block;
}

.menu li {
	float: left;
	display: block;
	margin-right: 41px;
}

.menu a {
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
}

.titles__first {
	font-size: 40px;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	margin-top: 180px;
}

h1 {
	font-size: 75px;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	margin: 15px;
}

.button {
	background: #fed136;
	color: #484543;
	border-radius: 3px;
	display: block;
	width: 240px;
	padding: 20px 0;
	margin: 0 auto;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 18px;
	margin-top: 50px;
}

.title {
	padding-top: 115px;
	padding-right: 50px;
}

.title h2 {
	font-size: 40px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	margin: 0;
}

.title p {
	color: #777777;
	text-align: center;
	font-size: 16px;
	margin-top: 5px;
}

.services {
	margin-top: 80px;
    padding-right: 50px;
}

.services__item	{
	width: 270px;
	float: left;
	text-align: center;
}

.services__item h3 {
	font-size: 18px;
	margin-bottom: 5px;
}

.services__item p {
	color: #777777;
	font-size: 14px;
	line-height: 1.55em;
}

.services__item:last-child {
	float: right;
}

.services__item:nth-child(2) {
	margin-left: 60px;
}

#services {
	padding-bottom: 120px;

}

#portfolio {
	background: #f7f7f7;
	padding-bottom: 120px;
}

.works {
	margin-top: 70px;
}

.works img {
	float: left;
}

.works img:nth-child(2) {
	margin-left: 29px;
}

.works img:last-child {
	float: right;
}

 .footer__map{
  padding-top: 10px;
  max-width: 100%;
  width: 100%;
  float: left; 
  text-align: center;
}
.footer__map iframe{
  width: 100%;
}
